.one{
    background-color:gray;
    color:black;
    text-align:center;
}


.two{
    border-color:gray;
    border-width:2px;
    border-style: solid;
    width:220px;
    display:inline-block;
    color:black;
    margin: 25px;
    transition: 0.5s;
} 

.two:hover{
    transform: scale(1.2);
}

.box{
    text-align: center;
    justify-content: center;
    padding:20px;
    color:black;
    margin-top: 50px;

 }

 
 .searchbar{
    padding :10px;
    text-align:center;
    justify-content: center;
    background-color: gray;
    color:black;
    padding-left: 35%;
    
 }
 .tree{
    background-color:gray;
 }
 li{
    display:inline;
    text-align:center;
    cursor:pointer;
    text-align: center;
    justify-content: center;
    
 }
 button{
   cursor:pointer;
   width: 90px;
   height: 40px;
   margin: 10px;
   background-color: chartreuse;
   
 }
button:hover{
   background-color: greenyellow;
   transform: scale(1.1);
}
 #in{
    width:65%;
    padding:10px;
    background-color:white;

 }

 input{
   display:block;
   width:40%;
   padding:10px;
   margin-top:10px;
   border-color:black;
   border-width:1px;
   border-style:solid;
    margin-left: 5px;
   justify-content: center;
}
form{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

 




