body{
    font-family: "Bellefair", serif;
    background-color: darkslategrey;
}
.tb{
    color: white;
    text-align:center;
    padding:20px;
}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container div{
    width:200px;
    color:white;
    text-align:center;
    margin:10px;
    flex-basis: 20%;
    
    
}
  